<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <p>
        Welcome to<br>
        The Smell <br>
        of Water
      </p>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li>The Book</li>
        <li>The Authors</li>
        <li>Events</li>
        <li>Books in the Works</li>
        <li>Contact Us</li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li>Photos</li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <%= image_tag("email.png", :alt => "email", :class => "image") %>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <%= image_tag("twitter.png", :alt => "twitter", :class => "image") %>
    </div>
  </div>
</div>
