<%= render 'nav' %>

<div id="contact-info">
  <div id="contact-pic">
    <%= image_tag("contact-pic.jpg", :alt => "contact-img", :class => "contact-image") %>
    <p id="caption-tag">The authors at Angkor Wat, 2016</p>
  </div>

  <div id="contact-text">
    <p>
      Lang and Cornelia are just a click away,
      at <%= mail_to("TheSmellofWaterbyLSrey@gmail.com", name = nil, html_options = {:subject => "Hello!"} )%>.
      They answer all their mail.
    </p>

    <p>
      If you enjoyed their book, they would sincerely appreciate a post of your
      review on the book’s Amazon page.
    </p>

    <p>
      If you would like a signed copy, please e-mail the authors.
    </p>

    <p>
      If you would like to order Cambodian silk, e-mail Cornelia with what you
      would like her to bring back for you. She can get ikat (<span>hol</span>),
      brocade (<span>pamuong</span> and three kinds of <span>chorabab</span>),
      embroidered organza, and Buddhist ikat tapestries (<span>pidan</span>).
      Scarves, and wraps to go over evening clothes, are the most-requested items.
      Cornelia buys only from the finest weavers, and pays fair trade prices.
    </p>
  </div>
</div>
