<%= render 'nav' %>

<div id="event-content">
  <div id="title">
    <p>Events</p>
  </div>

  <div id="body-text">
    <p><span>2016 Events:</span></p>

    <p>January – Book launch at Monument Books, Phnom Penh</p>

    <p>April – Cambodian New Year at Hacienda Peralta Park, Oakland, CA and Wat Dhammararam, Stockton, CA</p>

    <p>May – The Himalayan Fair at Live Oak Park, Berkeley, CA</p><br>

    <p>As they are working on two new books, and the Kindle version of The Smell of Water, they do not anticipate doing more events in 2016.</p>

    <p><span>2015 Events:</span></p>
    <!-- <img src="2015-book-launch-event.jpg" alt="monument-book-launch" /> -->
    <%= image_tag("2015-book-launch-event.jpg", alt: "book-launch") %>
  </div>
  </div>
</div>
