<!-- <div class='title-bar'>
  <div class="site-title">
    <p>Welcome to The Smell of Water</p>
  </div>
</div> -->

<!-- <div class="menu-bar">
  <ul class="navigation-menu">
    <li>The Book</li>
    <li>The Authors</li>
    <li>Events</li>
    <li>Books in the Works</li>
    <li>Contact Us</li>
  </ul>
</div> -->

<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <p>
        Welcome to<br>
        The Smell <br>
        of Water
      </p>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li>The Book</li>
        <li>The Authors</li>
        <li>Events</li>
        <li>Books in the Works</li>
        <li>Contact Us</li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li>Photos</li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <%= image_tag("email.png", :alt => "email", :class => "image") %>
      <%= image_tag("facebook.png", :alt => "facebook", :class => "image") %>
      <%= image_tag("twitter.png", :alt => "twitter", :class => "image") %>
    </div>
  </div>
</div>



# <%= link_to("here", "http://www.amazon.com/Smell-Water-twelve-year-old-soldiers-determination/dp/0692407502/ref=sr_1_1?ie=UTF8&qid=1446148539&sr=8-1&keywords=the+smell+of+water", :target => '_blank') %>.
