<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <p>
        Welcome to<br>
        The Smell <br>
        of Water
      </p>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li>The Book</li>
        <li>The Authors</li>
        <li>Events</li>
        <li>Books in the Works</li>
        <li>Contact Us</li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li>Photos</li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <%= image_tag("email.png", :alt => "email", :class => "image") %>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <%= image_tag("twitter.png", :alt => "twitter", :class => "image") %>
    </div>
  </div>
</div>

<div class="body-text">
  <div class="reviews">
    <p>
      “Masterfully written.”<br>
          &emsp;– Andy Martin, Executive Producer of The Monkey Kid,<br>
          &ensp;&ensp;&emsp;Official Selection of the Cannes International Film Festival (1995)
    </p>

    <p>
      “What makes this book stand out from others like it is that the horrors of<br>
      &emsp;&emsp;war aren't the focus, the boys’ survival is.”
    </p>

    <p>
      “Not since Unbroken have I read a book with such heart and soul.”
    </p>

    <p>
      “Put this book on your ‘must read’ list.”
    </p>
  </div>

  <div class="book-image">
    <%= image_tag("cover-of-sow.png", :alt => "cover-image", :class => "cover-image") %>
  </div>
</div>
