<div class="menu-bar">
  
</div>


<div id='front-page'>
  <img src="/images/cover-pic.jpg">

  <div id='text-container'>
    <h1 id='title', class="text">Welcome to The Smell of Water</h1>
    <h3 id='second-title', class="text">This site is currently under construction...</h3>
    <h3 id='book-link', class="text">
      <p>
          The book can be purchased

          <%= link_to("here", "http://www.amazon.com/Smell-Water-twelve-year-old-soldiers-determination/dp/0692407502/ref=sr_1_1?ie=UTF8&qid=1446148539&sr=8-1&keywords=the+smell+of+water", :target => '_blank') %>.
      </p>
    </h3>
  </div>
</div>
