<%= render 'nav' %>

<div id="body-text">
  <div id="reviews">
    <p>
      “Masterfully written.”<br>
          &emsp;– Andy Martin, Executive Producer of <span>The Monkey Kid</span>,<br>
          &ensp;&ensp;&emsp;Official Selection of the Cannes International Film Festival (1995)
    </p>

    <p>
      “We salute Lang for his bravery and fortitude in escaping his<br>
      oppressors and surviving in the jungle. We salute Cornelia for<br>
      knowing this was a story that must be told, for her endless research,<br>
      and for her belief in Lang and his amazing journey.”<br>
      &emsp;– The Viet Nam Veterans of Diablo Valley, California
    </p>

    <p id="reader-reviews">
      Reviews from our readers
    </p>

    <p>
      “What makes this book stand out from others like it is that the horrors of<br>
      &emsp;&emsp;war aren't the focus, the boys’ survival is.”
    </p>

    <p>
      “Not since <span>Unbroken</span> have I read a book with such heart and soul.”
    </p>

    <p>
      “Put this book on your ‘must read’ list.”
    </p>
  </div>

  <div id="book-image">
    <%= image_tag("cover-of-sow.png", :alt => "cover-image", :id => "cover-image") %>
  </div>
</div>
