<%= render 'nav' %>

<div id="body-content">
  <div id="title">
    <p>Books in the Works</p>
  </div>

  <div id="events-content">

    <div id="nfl-info">
      <div id="nfl-image">
        <%= image_tag("nfl-cover.jpg", :alt => "cover-nfl", :id => "nflimage") %>
      </div>

      <div id="nfl-text">
        <p>
          <span id="color-line">NO FRONT LINE – searching for home in a war zone</span>. Lang’s account of his journey out of the commune of
          Pong Tuk, trying to reach his mother’s home in Phnom Penh and his
          grandfather’s in their ancestral village, Prai Anchaan. Lang remembered
          this journey clearly, so Cornelia did not have to bridge gaps in the story.
          This is the first book-length account of life in Cambodia during the
          Vietnamese occupation.
        </p>

        <p>Lang and Cornelia are also working on the Kindle version of <span id="color-line">The Smell of Water</span>.</p>
      </div>
    </div>

    <div id="saginaw-info">
      <div id="sag-image">
        <%= image_tag("uss-saginaw.jpg", :alt => "saginaw-img", :id => "saginaw-image") %>
      </div>

      <div id="sag-text">
        <p>
          <span id="color-line">An Account of the Wreck of the Saginaw</span>. Captain Montgomery Sicard’s
          account of the shipwreck of the naval vessel under his command in the
          northern Hawaiian Islands in 1870. Written by a relative of Cornelia’s
          145 years ago, she recently discovered that it had never been published.
          She thought it should be. Like Lang's escape from his unit, it’s a gripping
          story of survival. Cornelia and her son, Pyara Sandhu, are working on
          this project together.
        </p>
      </div>
    </div>

  </div>
</div>
