// ========================TheAuthorspage========================

@import "variables";

// Div for the Authors page content
#authors-info {
  float: right;

  height: 100%;
  width: 75%;

  overflow-y: auto;

  // border: $solid-border orange;

  // Image of the authors
  #authors-pic {
    // height: 400px;
    // width: 318px;

    float: left;

    margin-top: 1em;
    margin-left: 1em;

    // border: $solid-border blue;
  }

  // Text on the Authors page
  #authors-text {
    float: right;
    width: 58%;

    margin-top: 0em;
    padding-right: 3%;

    line-height: $line-height;

    color: #333333;

    // border: $solid-border red;
  }
}
