// ======================Contacts Page======================

@import 'variables';

$link-color-seafoam: #49c9ac;

#contact-info {
  float: right;
  width: $body-content-width;

  // border: 1px solid blue;

  #contact-pic {
    float: left;
    width: 20%;

    margin-top: 1.5em;
    margin-left: 1em;
  }

  #contact-text {
    float: right;
    width: 59.5%;

    margin-top: 0.5em;
    margin-right: .75em;

    color: #333333;
    line-height: 1.50em;

    // border: 1px solid red;
  }

  #caption-tag {
    width: 175%;
    color: #333333;
    text-align: center;
  }

  a:link {
    text-decoration: none;
    color: $link-color-seafoam;
  }

  a:visited {
    text-decoration: none;
    color: $link-color-seafoam;
  }

  span {
    font-style: italic;
  }
}
