// ================================The Book==============================

@import "variables";

// Content for The Book page
#thebook-content {
  width: $body-content-width;
  float: right;

  // border: $solid-border blue;

  // Image for The Book page
  #thebook-pic {
    float: left;

    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 0em;

    // border: $solid-border green;
  }

  // Body text content
  #thebook-text {
    width: 56%;
    float: right;

    margin-top: 0em;
    padding-right: 2em;
    padding-bottom: .55em;

    color: $soft-black-font;
    line-height: $line-height;

    // border: $solid-border red;
  }

  a:link {
    text-decoration: none;
    color: $link-color-seafoam;
  }

  a:visited {
    text-decoration: none;
    color: $link-color-seafoam;
  }
}
