// ======================SASS Variables======================

$solid-border: 1px solid;
$menu-text-color: #bbe5e2;
$navbar-width: 25%;
$body-content-width: 74.5%;
$line-height: 1.5em;
$soft-black-font: #333333;
$link-color-seafoam: #49c9ac;
