// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'index';
@import 'thebook';
@import 'authors';
@import 'events';
@import 'intheworks';
@import 'contact';
@import 'photos';

// =====================Title and Menu Bar======================

@import 'variables';

// Removes the 'bounce' on the page
html {
  height: 100%;
  overflow: hidden;
}

// Removes margins on all sides
body {
  height: 100%;
  overflow: auto;

  margin: 0;
  padding: 0;

  font-family: "Georgia";
}

// The entire title and navigation menu bar
.title-menu-bar {
  height: 100%;
  width: $navbar-width;

  float: left;
  position: fixed;

  border: $solid-border;
  border-color: #292f33;;
  background-color: #292f33;
  font-family: "Times New Roman";
}

.title-bar {
  margin-bottom: -5em;
}

// The text of the title
.title {
  display: center;

  margin-top: 1em;
  margin-left: 1.5em;
  margin-bottom: 3em;

  font-size: 2.5em;
  color: $menu-text-color;
}

.menu-bar {
  height: 15em;
}

// A little line above the menu items
.top-dash {
  width: 3em;

  margin-left: 43.5%;
  margin-bottom: 1.5em;

  border-top: .12em solid;
  border-color: $menu-text-color;
}

// The nav menu box
.navigation-menu {
  margin-left: 1.5em;

  background-color: #292f33;
}

// A little line below the menu items
.bottom-dash {
  width: 3em;

  margin-top: 1.5em;
  margin-left: 43.5%;
  margin-bottom: 1.5em;

  border-bottom : .12em solid;
  border-color: $menu-text-color;
}

.photos {
  margin-left: 6em;
  margin-bottom: -1.25em;
}

// The links and the images list
ul {
  width: 10em;
  float: center;

  // border: $solid-border white;
}

// The list items in the nav menu
li {
  list-style-type: none;
  vertical-align: center;

  font-size: 1.25em;
  color: $menu-text-color;
  line-height: 1.5em;
}

.title-menu-bar a:link {
  text-decoration: none;
  color: $menu-text-color;
}

.title-menu-bar a:visited {
  text-decoration: none;
  color: $menu-text-color;
}

// Dash above the social media icons
.contact-dash {
  width: 12em;

  margin-top: 3em;
  margin-left: 4em;
  margin-bottom: 2.25em;

  border-bottom : .12em solid;
  border-color: $menu-text-color;
}

// The social media images block
.images-block {
  margin-left: 6em;
}

// The individual image icons
.image {
  height: 40px;
  width: 40px;
}
