// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =====================Title and Menu Bar======================

// Removes margins on all sides
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  overflow: hidden;
}

// The entire title and navigation menu bar
.title-menu-bar {
  height: 100%;
  width: 20em;

  margin-bottom: -5000px;
  padding-bottom: 5000px;

  float: left;

  border: 1px solid;
  border-color: #292f33;;
  background-color: #292f33;
}

.title-bar {
  margin-bottom: -5em;
}

// The text of the title
.title {
  margin-top: 1em;
  margin-left: 1.5em;
  margin-bottom: 3em;

  font-size: 2.5em;
  color: #bbe5e2;

  display: center;
}

.menu-bar {
  height: 15em;
}

// A little line above the menu items
.top-dash {
  width: 3em;

  margin-left: 43.5%;
  margin-bottom: 1.5em;

  border-top: .12em solid;
  border-color: #bbe5e2;
}

// The nav menu box
.navigation-menu {
  background-color: #292f33;

  margin-left: 1.5em;
}

// A little line below the menu items
.bottom-dash {
  width: 3em;

  margin-top: 1.5em;
  margin-left: 43.5%;
  margin-bottom: 1.5em;

  border-bottom : .12em solid;
  border-color: #bbe5e2;
}

.photos {
  margin-left: 6em;
}

// The links and the images list
ul {
  width: 10em;

  // border: 2px solid;
  // border-color: white;

  float: center;
}

// The list items in the nav menu
li {
  list-style-type: none;
  vertical-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #bbe5e2;
}

.title-menu-bar:link {
  text-decoration: none;
  color: #bbe5e2;
}

.title-menu-bar a:visited {
  text-decoration: none;
  color: #bbe5e2;
}

.photos a:link {
  text-decoration: none;
  color: #bbe5e2;
}

.photos a:visited {
  text-decoration: none;
  color: #bbe5e2;
}

.contact-dash {
  width: 12em;

  margin-top: 3em;
  margin-left: 4em;
  margin-bottom: 2.25em;

  border-bottom : .12em solid;
  border-color: #bbe5e2;
}

// ========================TheSplashPage========================

// The social media images block
.images-block {
  margin-left: 6em;
}

// The individual image icons
.image {
  height: 40px;
  width: 40px;
}

// Div for the body of the splash page
.body-text {
  margin-bottom: -5000px;
  padding-bottom: 5000px;



  overflow: auto;

  // border: 5px solid;
  // border-color: red;
}

#reader-reviews {
  margin-bottom: 1em;
  text-decoration: underline;
}

// Div for the reviews in the body
.reviews {
  margin-top: 2.5em;
  margin-left: 2.25em;

  float: center;
  display:inline-block;

  // border: 5px solid;
  // border-color: blue;
}

// Div for image in the body
.book-image {
  height: 500px;
  width: 332.28px;

  margin-top: 3.5em;
  margin-right: 3em;

  float: right;
  display: inline-block;

  // border: 5px solid;
  // border-color: orange;
}

// Spacing between lines
.body-text p {
  margin-bottom: 2.25em;
}

// ========================TheAuthorspage========================

// Div for the Authors page content
#authors-info {
  // height: 100%;

  margin-bottom: -2em;

  // border: 5px solid;
  // border-color: orange;
}

// Image of the authors
#authors-pic {
  height: 400px;
  width: 318px;

  padding-top: 1em;
  padding-left: 1em;

  // margin-top: 1em;
  // margin-left: 1em;

  float: center;
  display: inline-block;

  // border: 5px solid;
  // border-color: blue;
}

// Text on the Authors page
#authors-text {
  // margin-top: 1em;
  margin-right: 1em;

  float: right;
  display: inline-block;

  color: #333333;

  // border: 5px solid;
  // border-color: red;
}

#authors-text-cont {
  margin-top: 1em;
  margin-left: 21.25em;

  position: absolute;
  bottom: 3em;

  color: #333333;

  // border: 5px solid;
  // border-color: green;
}

// ======================ContactsPage======================

#contact-info {
  border: 5px solid;
  border-color: red;

  height: 5000px;
  overflow: hidden;
}

#contact-pic {
  float: left;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

#caption-tag {
  color: #333333;
  text-align: center;
}

#contact-text {
  width: 55%;

  margin-top: 1.5em;
  margin-right: 1.5em;

  color: #333333;

  line-height: 1.50em;

  // margin-top: -1em;

  // margin-left: 20em;
  // border: 5px solid;
  // border-color: blue;
  float: right;
  // position: fixed;
  bottom: 15em;
}

#cont-link {



}

a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
    text-decoration: none;
    color: #333333;
}
